* {
  font-family: "Manrope", sans-serif;
}

/* clients question */
.my-bg-img {
  background-image: url("../Images/11.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


